@import '../../App.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainLayout-background{
    width: 100vw;
    background-color: var(--background);
    background-image: url('../../images/Ellipse\ 16\ \(Stroke\).svg'), url('../../images/Ellipse\ 17.svg'), url('../../images/Home\ Indicator.svg');
    background-size: clamp(11rem, 22vw, 25rem), clamp(5rem, 10vw, 15rem), 35vw ;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 100% 5rem, center 98%;
    padding: 25vh 10vw 8vh;
    overflow-y: auto;
}

