@import '../../App.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dots{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--notActive);
}

.active-dot{
    background-color: var(--activeDot);
}