@import '../../App.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-container{
    width: 100%;
    padding: .3rem;
    display: grid;
    grid-template-columns: 25% 1fr;
    cursor: pointer;
}

.book-image-container{
    width: 100%;
 
}

.book-image-container > img {
    width: 100%;
    object-fit: contain;
}

.book-text-container{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1;
}

p:nth-child(1){
font-size: clamp(1rem, 2vw, 2rem);
font-weight: 500;
text-align: left;
color: var(--white);
line-height: 1.1;
}

p:nth-child(2){
font-size: clamp(.8rem, 1.5vw, 1.6rem);
font-weight: 400;
text-align: left;
color: var(--white);
}